<template>
  <div class="about">
    <h1><b>CALCULADORA VUE</b></h1>
  </div>
  <div class="h-screen bg-green-400 flex justify-center py-16">
    <div class="w-3/4 lg:w-1/3">
      <div class="p-4 text-center shadow-2xl bg-white">
        <p class="h-2/4 font-semibold text-gray-700 h-6">
          <b>CALCULADORA</b> hecha con vue sacada del tutorial en el video: "<a href="https://www.youtube.com/watch?v=EgO6RQ0KtuU">Como hacer una CALCULADORA con VUE JS</a>" Super sencilla, además usa <a href="https://cdnjs.com/libraries/tailwindcss">Tailwind</a> para inyectar los CSS de una forma más sencilla y elegante.
        </p>
      </div>
    </div>
  </div>

</template>
